@import "../../App.css";

.page {
	padding: 8px 24px;
}

.row {
	padding: 20px 0;
	width: 100%;
}

.top-bar-login {
	padding: 10px;
	color: white;
	margin-left: 0;
}

.root {
	flex-grow: 1;
}

.profile-container,
.container {
	display: flex;
	padding: 0 20px;
	justify-content: left !important;
	flex-wrap: nowrap !important;
	flex-direction: column !important;
}

.bar {
	background-color: #432232;
}
.menuButton {
	margin-right: spacing(3);
}
.title {
	flex-grow: 1;
}

.profile-name {
	font-size: xx-large;
}

.profile-name.row {
	padding-top: 0 !important;
}

.edit-button-text {
	display: flex;
}

.profile-pic {
	text-align: center;
	max-width: 100px;
	max-height: 100px;
}

.profile-page {
	padding-top: 0;
	height: 100vh;
}

.label {
	font-size: medium;
}

.col-profile-info {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.col-bio {
	padding: 10px;
}

.col-review-cards {
	overflow: auto;
	max-height: 80vh;
	margin-top: 24px;
}

.card-img,
.card-img-top {
	margin-left: 10px;
}

.review-card {
	flex-direction: row;
	height: 200px !important;
	background-color: white !important;
	padding: 10px;
}

.bio-card,
.card {
	display: flex;
	/* flex-direction: row; */
	height: auto !important;
	background-color: white !important;
	padding: 20px;
	overflow: auto !important;
	font-size: 20px;
	max-width: 600px;
	align-items: center;
	text-align: center;
}

.page-title,
h1 {
	color: black;
	text-decoration: none;
	text-align: left;
}

.edit-button .btn .btn-light .btn-sm {
	padding: 10px 10px 20px 10px;
}

.HeaderButton {
	margin: "0 2% 0 2%";
}
.formStyles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 3%;
}
.imgStyles {
	width: 35%;
	margin-left: 2.5%;
	border-radius: 150px;
}
.formInputs {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin-bottom: 2%;
}
.input {
	margin: 5%;
	margin-right: 50%;
	padding: 3%;
	border-radius: 10px;
	font-size: 1.25rem;
}
.input2 {
	margin: 5%;
	padding: 5%;
	border-radius: 10px;
	font-size: 1.25rem;
	margin-left: 5%;
}
.textStylingInputs {
	padding: 0;
	margin: 1%;
	margin-left: 15%;
	color: rgb(0 0 0 70%);
	text-align: center;
}

/* SEARCHBAR - ACTIVE */

.container {
	display: flex;
	flex-direction: row;
	height: 50px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

/* WRITE REVIEW PAGE */

/* .reviewStyling {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	padding: 10px;
}

.selectMovie {
	padding: 10px;
}

.selectLabel {
	margin-right: 16px;
}

.writeReview {
	padding: 10px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

textarea {
	width: 300px;
	height: 150px;
}

.submitReview {
	padding: 5px;
	margin: 10px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
} */
