@import "../../App.css";

.topbar {
	height: var(--nav-size);
	background-color: #2f4050;
	padding: 0 1rem;
}

.topbar-nav {
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.topbar-nav .row {
	width: auto;
	height: 50px;
	margin: 0%;
	margin-right: 16px;
	display: flex;
	flex-direction: row;
	color: white;
	justify-content: center;
	align-items: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
