@import "../../App.css";

.Sidebar {
	height: 100%;
	min-width: 200px;
	background-color: #432232;
	justify-content: center;
}

.sidebar_ul {
	height: auto;
	padding: 0;
	width: 100%;
}

.sidebar_li {
	margin-left: 10%;
	display: flex;
	color: #cdbba9;
	align-items: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.sidebar_li:hover {
	cursor: pointer;
	background-color: #1a0d1f;
}

.sidebar_li:active {
	background-color: #1a0d1f;
}

.icon {
	padding: 10px;
	place-items: center;
}

.title {
	flex: 70%;
}
