button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
button.on {
    color: #e29f2f;
  }
button.off {
    color: #c52855;
}
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.button_local{
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  text-align: center;
}

.button{

}