@import "../../App.css";

.Sidebar {
	height: 100%;
	min-width: 200px;
	background: black;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
	border-radius: 0px 0px 15px 15px;
}

.sidebar_ul {
	height: auto;
	padding: 0;
	width: 100%;
}

.sidebar_li {
	padding-left: 8px;
	display: flex;
	color: white;
	align-items: center;
	font-family: 'Montserrat', sans-serif
}

.sidebar_li:hover {
	cursor: pointer;
	background-color: #2c41a0;
}

.sidebar_li:active {
	background-color: #2c41a0;
}

.icon {
	padding: 10px;
	place-items: center;
}

.title {
	flex: 70%;
	text-decoration: none;
}
.title:hover{
	text-decoration: none;
}
.logoo{
	height: 150px;
	padding-left: 23px;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 25px;
}
.sidebar-holder{
	text-align: center;
}