ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.app {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	background: blue;
}

.app-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

