

.card {
    background-color: #4949498e;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 300px;
    /* max-height: 35vh; */
    -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
    margin: 15px;
}

.grid {
    /* min-height: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* .grid > div {
    flex-base: calc(20% - 40px);
} */

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#title {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;

}

.item {
    display: flex;
	height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin: 25%;
}

#category {
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    height: 50px;
    font-weight: 500;
}

#searchBar {
    margin-left: auto;
    margin-right: auto;
}

#searchField {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-family: 'metropolis1920regular';
    font-weight: 500;
    color: rgb(214, 0, 0);
}
.little{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}